.image-fill {
	object-fit: fill;
}
.image-contain {
	object-fit:contain;
}
.image-cover {
	object-fit:cover;
}
.image-none {
	object-fit:none;
}
.image-scale-down {
	object-fit:scale-down;
}
.image-fit {
	width: fit-content;
}