.pd-left-10 {
	padding-left: 0.625rem;
}

.pd-left-12 {
	padding-left: 0.75rem;
}

.pd-left-14 {
	padding-left: 0.875rem;
}

.pd-left-16 {
	padding-left: 1rem;
}

.pd-right-10 {
	padding-right: 0.625rem;
}
.pd-right-12 {
	padding-right: 0.75rem;
}
.pd-right-14 {
	padding-right: .875rem;
}
.pd-right-16 {
	padding-right: 1rem;
}

.pd-10 {
	padding: 0.625rem;
}
.pd-12 {
	padding: 0.75rem;
}
.pd-14 {
	padding: 0.875rem;
}
.pd-16 {
	padding: 1rem;
}